<div class="modal-content" style="background-color: grey; border-radius:double 2px;opacity: 0.9;color:black;box-shadow: 0px 0px 10px 0px red;">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel" style="font-family:ROG FONTS">Congratulations</h5>
        <button type="button" class="close" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true" >&times;</span>
          </button>
    </div>
    <div class="modal-body">
        <div>You are now official member</div>
        <div>Now enjoy free streaming of live music</div>

    </div>