<body style="background-color: rgb(177, 167, 167);opacity: 0.6;">


    <div class="container ">

        <div class="row  justify-content-center  align-items-center mb-5 " style="height: 50vh;font-size: 90px;">
            <div class=" d-flex justify-content-center align-items-center" style="font-family: ROG FONTS;text-shadow: -5px 0px 6px black;">About us</div>
        </div>
        <div class="row" style="font-size: 30px;font-family: ROG FONTS;border-bottom: solid 2px rgb(111, 111, 111);">Our project</div>
        <div class="row mb-5    ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint quas culpa, minus nostrum magni quos assumenda optio porro fugiat voluptatum quo ea voluptatibus ratione eos? Ad repudiandae provident saepe consectetur.</div>


        <div class="row mb-5 " style="font-size: 30px;font-family: ROG FONTS;border-bottom: solid 2px rgb(93, 93, 93); box-shadow: 0px 0px 10px 0px black;"> Our team</div>

        <div class="row justify-content-between mt-3 ">





            <div class=" col-12 col-md-3 border " style="box-shadow: 0px 0px 10px 5px grey; ">
                <div class="row justify-content-center ">
                    <div class="col-11 ">

                        <div class="row mt-2 " style="height: 45vh ;border-radius:50%;background-image: url(music2.jpg);border:double black"> </div>

                        <div class="row justify-content-center mt-2 ">
                            <h4 style="font-family:ROG FONTS ">Umesh Manjare</h4>
                        </div>
                        <div class="row justify-content-center ">CDAC </div>





                    </div>
                </div>
            </div>

            <div class=" col-12 col-md-3 border " style="box-shadow: 0px 0px 5px 5px grey;">
                <div class="row justify-content-center ">
                    <div class="col-11 ">

                        <div class="row mt-2 " style="height: 45vh ;padding:0px;border-radius:50%;background-image: url(music2.jpg);border:double black"> </div>

                        <div class="row justify-content-center mt-2 ">
                            <h4 style="font-family:ROG FONTS ">Umesh Manjare</h4>
                        </div>
                        <div class="row justify-content-center ">CDAC </div>





                    </div>
                </div>
            </div>

            <div class=" col-12 col-md-3 border " style="box-shadow: 0px 0px 5px 5px grey;">
                <div class="row justify-content-center ">
                    <div class="col-11 ">

                        <div class="row mt-2 " style="height: 45vh ;padding:0px;border-radius:50%;background-image: url(music2.jpg);border:double black"> </div>

                        <div class="row justify-content-center mt-2 ">
                            <h4 style="font-family:ROG FONTS ">Umesh Manjare</h4>
                        </div>
                        <div class="row justify-content-center ">CDAC </div>





                    </div>
                </div>
            </div>


        </div>




    </div>
    <footer class="bg-dark pb-3 mt-5 ">
        <div class="container text-center ">
            <p class="font-italic text-muted mb-0 ">&copy; Copyrights Gaana.com All rights reserved.</p>
        </div>
    </footer>
</body>