<body style="background-image: url(assets/images/music3.jpg);
background-size: cover;
backdrop-filter: blur(3px);">


    <div class="container-fluid text-light">

        <div class="row  justify-content-center " style="box-shadow: 2px 5px 10px 2px black;opacity: 0.8;">

            <div class="col-4 d-flex justify-content-center text-danger" style="letter-spacing: 2px; font-style: italic;">
                <h2 style="opacity: 1;">gaana</h2>
            </div>
        </div>

        <div class="row justify-content-center mt-5 ">
            <div class="col-11 col-md-8 " style="border-radius: 20px 80px; box-shadow: 2px 5px 5px 2px black;background-color: rgba(20, 20, 20, 0.795)">

                <div class="row" style="height: 80vh;">

                    <div class="col-12 col-md-6 border text-light  d-flex justify-content-center " style="background-image: url(assets/images/music2.jpg);background-size: cover;background-position: bottom;border-radius: 20px 80px;box-shadow: 2px 5px 5px 2px black; ">
                        <div class="text-dark"> </div>



                    </div>

                    <div class="col-12 col-md-6  ">

                        <div class="row justify-content-center">

                            <div class="col-10 ">

                                <div class="row justify-content-center flex-column ">

                                    <div class="mt-2 d-flex justify-content-center my-2" style="font-family:ROG FONTS;">SIGN UP</div>


                                    <div [formGroup]="fbFormGroup">



                                        <div>Name:</div>
                                        <div class="input-group ">


                                            <div class="input-group-prepend ">

                                                <span class="input-group-text bg-dark text-light " id="basic-addon1 "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-person " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                                        <path fill-rule="evenodd " d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68
                                                10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z "/>
                                                      </svg></span>
                                            </div>
                                            <input type="text " class="form-control bg-dark text-light " placeholder="Full " aria-label="Username " formControlName="fname" ia-describedby="basic-addon1 ">

                                        </div>
                                        <div>Email:</div>
                                        <div class="input-group ">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text bg-dark text-light " id="basic-addon1 "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-envelope " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                                        <path fill-rule="evenodd " d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034
                                                6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z "/>
                                                      </svg>    </span>
                                            </div>
                                            <input type="email " class="form-control bg-dark text-light " placeholder="email " aria-label="Username " formControlName="email" aria-describedby="basic-addon1 ">
                                        </div>

                                        <div>Password:</div>
                                        <div class="input-group ">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text bg-dark text-light " id="basic-addon1 "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-key " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                                        <path fill-rule="evenodd " d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0
                                                1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708
                                                0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z "/>
                                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z "/>
                                                      </svg></span>
                                            </div>
                                            <input type="password" class="form-control bg-dark text-light " placeholder="password " aria-label="Username " formControlName="pass" aria-describedby="basic-addon1 ">
                                        </div>

                                        <div>Re-enter:</div>
                                        <div class="input-group  ">
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text bg-dark text-light " id="basic-addon1 "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-key " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                                                        <path fill-rule="evenodd " d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0
                                                1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708
                                                0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z "/>
                                                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z "/>
                                                      </svg></span>
                                            </div>
                                            <input type="password" class="form-control bg-dark text-light " placeholder="Re-enter password" aria-label="Username " formControlName="pass2" aria-describedby="basic-addon1 ">
                                        </div>



                                        <div class="d-flex justify-content-center mt-3 mb-3">
                                            <button class="btn btn-outline-light " [disabled]="!fbFormGroup.valid " (click)="signup() ">submit</button></div>

                                        <div class="alert alert-warning mt-1" role="alert" style="border-radius: 10px 10px 10px 10px" *ngIf="invalidcred">
                                            <h4 class="alert-heading" style="font-size:small">Email Already in use</h4>

                                            <hr>
                                            <p class="mb-0" style="font-size:smaller">Please enter a different Valid Email</p>
                                        </div>

                                    </div>









                                </div>
                            </div>
                        </div>

                    </div>


                </div>




            </div>


        </div>

    </div>

    <div class="row " style="height:5vh "></div>

</body>