<div class="body1" style="background-image: url(assets/images/1.jpeg);background-size: cover;background-color:black">
    <div class="container-fluid ">
        <div class="row bg-dark" style="height: 50px;box-shadow: 2px 5px 10px 2px black;opacity: 0.7;">

            <div class="col-4  d-flex justify-content-start align-items-center text-danger" style="font-family:Georgia, 'Times New Roman', Times, serif;letter-spacing:2px;font-style: italic;  font-weight: 800;font-size: 30px;">

                gaana

            </div>
            <div class="col-8 d-flex justify-content-end align-items-center">

                <div><button class="btn btn-dark text-light btn-outline-dark" routerLink="/home/A">About us</button></div>
                <div>
                    <button class="btn btn-dark text-light btn-outline-dark" (click)="logout()">Log out</button></div>
                <div class="btn btn-dark text-light btn-outline-dark" (click)="del()">DeactivateAccount</div>



            </div>






        </div>

    </div>
    <router-outlet></router-outlet>



    <div class="container-fluid ">
        <div class="row " style="background-image:url(assets/images/dj3.jpg);height: 100vh;background-size:cover;background-repeat: no-repeat;box-shadow: 0px 0px 30px 8px rgb(85, 18, 18);border-radius: 0px 0px 50px 50px ; ">

            <div class=" col-3 "></div>
            <div class="col-6 d-flex justify-content-center align-items-center ">


                <div class="row flex-column ">
                    <div class=" d-flex justify-content-center "><i class='fas fa-cloud-download-alt' style='font-size:50px;color:rgb(83, 25, 25)(114, 33, 33)'></i></div>
                    <div class="text-muted ">
                        <h2 style="font-family: ROG FONTS;font-style: italic; ">Stream Unlimited Songs</h2>
                    </div>
                    <div class="d-flex justify-content-center mt-3 text-danger ">
                        <h3 style="font-family: ROG FONTS;font-style: italic;font-size: 50px;text-shadow: 5px -2px black;letter-spacing: 3px; ">HD</h3>
                    </div>
                    <div class="d-flex justify-content-center  text-muted" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;letter-spacing: 1px ">Stream songs in HD</div>


                </div>



            </div>

            <div class=" col-3 "></div>

        </div>


    </div>


    <div class="container mt-5 ">
        <div class="row text-light align-items-center " style="background-color: rgb(15, 9, 9); height: 40px;opacity: 0.6;box-shadow: 0px 0px 50px 8px black; ">New and trending</div>
    </div>


    <div class="container ">


        <div id="row1" class="row " style="height: 60vh;overflow-y:scroll; ">


            <div class="col " style="color: blanchedalmond; ">

                <div class="row ">


                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p1.png); background-repeat: no-repeat;background-size:contain; " (click)="song1()"></div>
                        <div class=" m-3" style="font-size: small;">
                            <div>Artist: Bombay Vikings</div>
                            <div>Song: Woh Chali</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p2.jpg);background-size:cover; background-repeat: no-repeat;" (click)="song2()"></div>
                        <div class=" m-3" style="font-size: small;">
                            <div>Artist: Travis Mcoy ft.Bruno Mars</div>
                            <div>Song: Billionare </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p3.jpg);background-size:cover; background-repeat: no-repeat; " (click)="song3()"></div>
                        <div class=" m-3" style="font-size: small;">
                            <div>Artist: The Fray </div>
                            <div>Song: Never say Never </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p4.jpg);background-size:cover; background-repeat: no-repeat; " (click)="song4()"></div>
                        <div class=" m-3" style="font-size: small;">
                            <div>Artist: The Chainsmokers </div>
                            <div>Song: Dont Let me Down</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p5.jpg);background-size:cover; background-repeat: no-repeat; " (click)="song5()"></div>
                        <div class=" m-3" style="font-size: small;">
                            <div>Artist: Nelly</div>
                            <div>Song: Just a dream</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p6.jpg);background-size:cover; background-repeat: no-repeat; " (click)="song6()"></div>
                        <div class=" m-3" style="font-size: small;">
                            <div>Artist: Linkin Park </div>
                            <div>Song: Faint </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p7.jpg);background-size:cover; background-repeat: no-repeat; " (click)="song7()"></div>
                        <div class=" m-3 " style="font-size: small; ">
                            <div>Artist: Iyaz</div>
                            <div>Song: Replay</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 ">
                        <div id="a1" class="row m-3 border " style="height: 50vh;background-image: url(assets/images/p8.jpg);background-size:cover; background-repeat: no-repeat; " (click)="song8()"></div>
                        <div class=" m-3 " style="font-size: small; ">
                            <div>Artist: Eminem</div>
                            <div>Song: Venom</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">


        <div class="container mt-5 ">
            <div class="row text-light align-items-center " style="background-color: rgb(15, 9, 9); height: 40px;opacity: 0.6;box-shadow: 0px 0px 50px 8px black; ">Top trending Artists</div>
        </div>

        <div class="row text-muted mt-5">
            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    <div id="e1" class=" col-12 col-md-6 border " style="height: 50vh;background-image: url(assets/images/ed.jpg);background-size: cover; "></div>
                </div>




            </div>
            <div class="col-12  col-md-6 ">
                <div class="row ">
                    <h1 style="font-size: 80px;border-bottom: solid black; text-shadow: 3px 2px 10px black;">Ed sheeran</h1>
                </div>
                <div class="mt-2 " style="font-size:30px ">Top charted songs</div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song9()" >
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Shape of you</span></div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song10()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Perfect</span></div>
            </div>


        </div>


        <div class="row text-muted mt-5">
            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    <div id="e1" class=" col-12 col-md-6 border " style="height: 50vh;background-image: url(assets/images/ed2.jpg);background-size: cover; "></div>
                </div>




            </div>
            <div class="col-12  col-md-6 ">
                <div class="row ">
                    <h1 style="font-size: 80px;border-bottom: solid black; text-shadow: 3px 2px 10px black;">Eminem</h1>
                </div>
                <div class="mt-2 " style="font-size:30px ">Top charted songs</div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song11()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Not Afraid</span></div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song12()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Godzilla</span></div>
            </div>


        </div>

        <div class="row text-muted mt-5">
            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    <div id="e1" class=" col-12 col-md-6 border " style="height: 50vh;background-image: url(assets/images/ed3.png);background-size: cover;background-repeat: no-repeat; "></div>
                </div>




            </div>
            <div class="col-12 col-md-6 ">
                <div class="row ">
                    <h1 style="font-size: 80px;border-bottom: solid black; text-shadow: 3px 2px 10px black;">Post Malone</h1>
                </div>
                <div class="mt-2 " style="font-size:30px ">Top charted songs</div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song13()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Rockstar</span></div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song14()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Circles</span></div>
            </div>


        </div>

        <div class="row text-muted mt-5">
            <div class="col-12 col-md-6">
                <div class="row justify-content-center">
                    <div id="e1" class=" col-12 col-md-6 border " style="height: 50vh;background-image: url(assets/images/ed5.jpg);background-size: cover;background-size:cover; "></div>
                </div>




            </div>
            <div class="col-12  col-md-6 ">
                <div class="row ">
                    <h1 style="font-size: 80px;border-bottom: solid black; text-shadow: 3px 2px 10px black;">Ariana Grande</h1>
                </div>
                <div class="mt-2 " style="font-size:30px ">Top charted songs</div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song15()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>Dangerous</span></div>
                <div class="mt-2 "><span class="mr-2 " style="cursor: pointer; "><svg width="2em " height="2em " viewBox="0 0 16 16 " class="bi bi-file-music " fill="currentColor " xmlns="http://www.w3.org/2000/svg "(click)="song16()">
                    <path fill-rule="evenodd " d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z "/>
                    <path fill-rule="evenodd " d="M10.304 3.13a1 1 0 0 1 1.196.98v1.8l-2.5.5v5.09c0 .495-.301.883-.662 1.123C7.974 12.866 7.499 13 7 13c-.5 0-.974-.134-1.338-.377-.36-.24-.662-.628-.662-1.123s.301-.883.662-1.123C6.026 10.134 6.501 10
                        7 10c.356 0 .7.068 1 .196V4.41a1 1 0 0 1 .804-.98l1.5-.3z "/>
                  </svg></span><span>7 rings</span></div>
            </div>


        </div>

















    </div>




    <div class="container mt-5 ">
        <div class="row text-light align-items-center " style="background-color: rgb(15, 9, 9); height: 40px;opacity: 0.6;box-shadow: 0px 0px 50px 8px black; ">New and trending</div>
    </div>



    <div class="container-fluid pb-2 fixed-bottom " style="opacity: 0.9;;border-top:solid 2px ;box-shadow: 0px 0px 10px 0px red;background-color: black; ">






        <div class="row mt-2 ">
            <div class="col-12 col-md-2 text-muted " style=" font-family: ROG FONTS; ">Playlist</div>



            <div class=" col-12 col-md-5 d-flex justify-content-center text-muted "><span class="mr-2 mt-2">{{currenTime}}</span>
                <input style="padding-right:22vh" type="range" min="0" max="{{duration}}" [value]="seek" (input)="setSeekTo($event) ">
                <span class="ml-2 mt-2">{{duration}}</span></div>





            <div class="col-12 col-md-2 d-flex justify-content-center ">
                <div class="col-1 text-muted mx-3 "><button class="btn btn-danger " style="border-radius: 900px; " (click)="pause() "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-pause-fill " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                    <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z "/>
                  </svg></button></div>
                <div class=" col-1 text-muted mx-3 "> <button class="btn btn-danger " style="border-radius: 900px; " (click)="play() "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-play " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                    <path fill-rule="evenodd " d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z "/>
                  </svg></button></div>
                <div class="col-1 text-muted mx-3 "> <button class="btn btn-danger " style="border-radius: 900px; " (click)="stop() "><svg width="1em " height="1em " viewBox="0 0 16 16 " class="bi bi-stop-fill " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                    <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z "/>
                  </svg></button></div>
            </div>

            <div class="col-12 mt-2 col-md-2 d-flex text-muted justify-content-center ">
                <div class="text-muted"><input style="color:lawngreen " type="range" min="0" max="1" step="0.01" value="0.5" (input)="setVolume($event) "></div>

            </div>
            <div class="col-12 col-md-1 d-flex text-muted justify-content-center ">


            </div>


        </div>

        <!-- <div class="row " style="visibility: ;display:; " ng-show="checked ">
            <div class="col d-flex flex-column ">
                <li class="text-muted " *ngFor="let file of files " (click)="openFile(file.url) ">{{file.name}}</li>

            </div>
        </div> -->


    </div>



















</div>